body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-title {
    text-align: center;
    margin-bottom: 20px;
}

#game-title h1 {
    font-size: 24px;
    color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

.tile {
    width: 150px;
    height: 150px;
    /* background-image: url("heart.png"); */
    background-color: #008080 ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    perspective: 1000px;
    transition: transform 0.5s;
}

.tile.flipped {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Style for the custom modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
